@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}



/* Default styles for all screen sizes */
.carousel-image {
  width: 100%;
}

/* Styles for small screens (max-width: 767px) */
@media (max-width: 767px) {
  .carousel-image {
    height: 300px; /* Adjust the height as needed for small screens */
  }
}

/* Styles for medium screens (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-image {
    height: 400px; /* Adjust the height as needed for medium screens */
  }
}

/* Styles for large screens (min-width: 992px) */
@media (min-width: 992px) {
  .carousel-image {
    height: 500px; /* Adjust the height as needed for large screens */
  }
}
